@import '../../vars.scss';

.notification {
    width: 35rem;
    position: fixed;
    bottom: 3rem;
    right: -35rem;
    background-color: $red;
    color: $white;
    z-index: 1001;
    text-align: center;
    padding: 1rem;
    transition: right .5s linear;

    img {
        margin-left: .3rem;
        cursor: pointer;
    }

    &.showed {
        right: 3rem;
    }

    @media (max-width: 1200px) {
        bottom: 1rem;

        &.showed {
            bottom: 1rem;
            right: 1rem;
        }
    }

    @media (max-width: 991px) {
        padding: .5rem 1rem;
    }

    @media (max-width: 551px) {
        width: 25rem;
        font-size: .8rem;
    }
}

.notification__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}